html, body, #root, .App, .App > div, .block-ui {
  height: 100%
}

body {
  margin: 16px;
  height: calc(100% - 32px);
}

.full-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}